{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question 10</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <!-- Question Section -->
    <section class="question-page">
        <div class="question-container">
            <h2>Question 10</h2>
            <!-- <form action="result.html" method="POST" class="question-form"> -->
            <form id="question10Form" class="question-form" onsubmit="storeAnswer(event)">
                <div class="form-group">
                    <label for="q10"> Which Of The Following Are Your Favorite Methods Of Procrastination When You Have A Deadline Incoming?</label>
                    <select id="q10" name="q10" required>
                        <option value="" disabled selected>Select an option</option>
                        <option value="18-25">18-25</option>
                        <option value="26-35">26-35</option>
                        <option value="36-45">36-45</option>
                        <option value="46+">46+</option>
                    </select>
                </div>
                <button type="submit" class="cta-btn">Submit</button>
            </form>
        </div>
    </section>
    <script>
        function storeAnswer(event) {
            event.preventDefault();

            // Get answer from the textarea
            const q10Answer = document.getElementById('q10').value;

            // Store the answer in local storage
            localStorage.setItem('q10', q10Answer);

            // Redirect to the result page
            window.location.href = 'result.html';
        }
    </script>
</body>
</html>
